In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from datetime import datetime

# datetype: datetime64
- Timestamp
- DatetimeIndex
- date_range

### scala value: Timestamp

In [5]:
#generate a Timestamp
stamp = pd.Timestamp('17/7/2012 10:06:45')
stamp

Timestamp('2012-07-17 10:06:45')

In [4]:
# transform a string to datetime object with opt of day first
pd.to_datetime('01/7/2012 10:06:45', dayfirst=True)

Timestamp('2012-07-01 10:06:45')

In [ ]:
#change the format
stamp.strftime('%m%d%y')

### DatetimeIndex

In [6]:
dates = ['07/07/2012', '07/09/2012', '07/12/2012']
dates

['07/07/2012', '07/09/2012', '07/12/2012']

In [7]:
Series(range(3),index= dates)

07/07/2012    0
07/09/2012    1
07/12/2012    2
dtype: int64

In [12]:
# one way: transform the index as datetimeIndex with to_datetime (more flexible)
Series(range(3),index= pd.to_datetime(dates,dayfirst=True))

2012-07-07    0
2012-09-07    1
2012-12-07    2
dtype: int64

In [9]:
# another way using the DatetimeIndex method
pd.DatetimeIndex(dates,)

DatetimeIndex(['2012-07-07', '2012-07-09', '2012-07-12'], dtype='datetime64[ns]', freq=None)

In [11]:
Series(range(3),index= pd.DatetimeIndex(dates))

2012-07-07    0
2012-07-09    1
2012-07-12    2
dtype: int64

## Timeseries indexing

In [17]:
rng = pd.date_range('2017/08/13',periods=1000)
rng

DatetimeIndex(['2017-08-13', '2017-08-14', '2017-08-15', '2017-08-16',
               '2017-08-17', '2017-08-18', '2017-08-19', '2017-08-20',
               '2017-08-21', '2017-08-22',
               ...
               '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-02',
               '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06',
               '2020-05-07', '2020-05-08'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [19]:
ts =  Series(range(1000),index= rng)
ts

2017-08-13      0
2017-08-14      1
2017-08-15      2
2017-08-16      3
2017-08-17      4
2017-08-18      5
2017-08-19      6
2017-08-20      7
2017-08-21      8
2017-08-22      9
2017-08-23     10
2017-08-24     11
2017-08-25     12
2017-08-26     13
2017-08-27     14
2017-08-28     15
2017-08-29     16
2017-08-30     17
2017-08-31     18
2017-09-01     19
2017-09-02     20
2017-09-03     21
2017-09-04     22
2017-09-05     23
2017-09-06     24
2017-09-07     25
2017-09-08     26
2017-09-09     27
2017-09-10     28
2017-09-11     29
             ...
2020-04-09    970
2020-04-10    971
2020-04-11    972
2020-04-12    973
2020-04-13    974
2020-04-14    975
2020-04-15    976
2020-04-16    977
2020-04-17    978
2020-04-18    979
2020-04-19    980
2020-04-20    981
2020-04-21    982
2020-04-22    983
2020-04-23    984
2020-04-24    985
2020-04-25    986
2020-04-26    987
2020-04-27    988
2020-04-28    989
2020-04-29    990
2020-04-30    991
2020-05-01    992
2020-05-02    993
2020-05-03    994
2020-05-04    995
2020-05-05    996
2020-05-06    997
2020-05-07    998
2020-05-08    999
Freq: D, Length: 1000, dtype: int64

In [20]:
ts[datetime(2017,9,1)]

19

In [21]:
ts[ts.index[19]]

19

In [22]:
ts['2017-9-1']

19

In [23]:
# selection the index ordered series, if not orderd ,using sort_index first
ts[:'2017-9-1']

2017-08-13     0
2017-08-14     1
2017-08-15     2
2017-08-16     3
2017-08-17     4
2017-08-18     5
2017-08-19     6
2017-08-20     7
2017-08-21     8
2017-08-22     9
2017-08-23    10
2017-08-24    11
2017-08-25    12
2017-08-26    13
2017-08-27    14
2017-08-28    15
2017-08-29    16
2017-08-30    17
2017-08-31    18
2017-09-01    19
Freq: D, dtype: int64

In [24]:
ts['2017-8']

2017-08-13     0
2017-08-14     1
2017-08-15     2
2017-08-16     3
2017-08-17     4
2017-08-18     5
2017-08-19     6
2017-08-20     7
2017-08-21     8
2017-08-22     9
2017-08-23    10
2017-08-24    11
2017-08-25    12
2017-08-26    13
2017-08-27    14
2017-08-28    15
2017-08-29    16
2017-08-30    17
2017-08-31    18
Freq: D, dtype: int64

In [25]:
ts['2017-8':'2017-9']

2017-08-13     0
2017-08-14     1
2017-08-15     2
2017-08-16     3
2017-08-17     4
2017-08-18     5
2017-08-19     6
2017-08-20     7
2017-08-21     8
2017-08-22     9
2017-08-23    10
2017-08-24    11
2017-08-25    12
2017-08-26    13
2017-08-27    14
2017-08-28    15
2017-08-29    16
2017-08-30    17
2017-08-31    18
2017-09-01    19
2017-09-02    20
2017-09-03    21
2017-09-04    22
2017-09-05    23
2017-09-06    24
2017-09-07    25
2017-09-08    26
2017-09-09    27
2017-09-10    28
2017-09-11    29
2017-09-12    30
2017-09-13    31
2017-09-14    32
2017-09-15    33
2017-09-16    34
2017-09-17    35
2017-09-18    36
2017-09-19    37
2017-09-20    38
2017-09-21    39
2017-09-22    40
2017-09-23    41
2017-09-24    42
2017-09-25    43
2017-09-26    44
2017-09-27    45
2017-09-28    46
2017-09-29    47
2017-09-30    48
Freq: D, dtype: int64

In [26]:
from datetime import timedelta

In [36]:
start= datetime(2017,8,17)
ts[start: start + timedelta(days=10)]

2017-08-17     4
2017-08-18     5
2017-08-19     6
2017-08-20     7
2017-08-21     8
2017-08-22     9
2017-08-23    10
2017-08-24    11
2017-08-25    12
2017-08-26    13
2017-08-27    14
Freq: D, dtype: int64

In [43]:
ts.loc[start:start+timedelta(days= 10)]

2017-08-17     4
2017-08-18     5
2017-08-19     6
2017-08-20     7
2017-08-21     8
2017-08-22     9
2017-08-23    10
2017-08-24    11
2017-08-25    12
2017-08-26    13
2017-08-27    14
Freq: D, dtype: int64

In [44]:
ts.loc[start:start+pd.offsets.Day(10)]

2017-08-17     4
2017-08-18     5
2017-08-19     6
2017-08-20     7
2017-08-21     8
2017-08-22     9
2017-08-23    10
2017-08-24    11
2017-08-25    12
2017-08-26    13
2017-08-27    14
Freq: D, dtype: int64

### date_range

In [45]:
list(pd.date_range('2000-01-01', periods=5, freq='d'))

[Timestamp('2000-01-01 00:00:00', freq='D'),
 Timestamp('2000-01-02 00:00:00', freq='D'),
 Timestamp('2000-01-03 00:00:00', freq='D'),
 Timestamp('2000-01-04 00:00:00', freq='D'),
 Timestamp('2000-01-05 00:00:00', freq='D')]

In [47]:
# starting on calendar end of the month
list(pd.date_range('2000-01-01', periods=5, freq='M'))

[Timestamp('2000-01-31 00:00:00', freq='M'),
 Timestamp('2000-02-29 00:00:00', freq='M'),
 Timestamp('2000-03-31 00:00:00', freq='M'),
 Timestamp('2000-04-30 00:00:00', freq='M'),
 Timestamp('2000-05-31 00:00:00', freq='M')]

In [63]:
# starting on BUSSINESS calendar end of the month
list(pd.date_range('2017-08-01', periods=5, freq='BM'))

[Timestamp('2017-08-31 00:00:00', freq='BM'),
 Timestamp('2017-09-29 00:00:00', freq='BM'),
 Timestamp('2017-10-31 00:00:00', freq='BM'),
 Timestamp('2017-11-30 00:00:00', freq='BM'),
 Timestamp('2017-12-29 00:00:00', freq='BM')]

In [49]:
# calendar beginning of month
list(pd.date_range('2000-01-01', periods=5, freq='MS'))

[Timestamp('2000-01-01 00:00:00', freq='MS'),
 Timestamp('2000-02-01 00:00:00', freq='MS'),
 Timestamp('2000-03-01 00:00:00', freq='MS'),
 Timestamp('2000-04-01 00:00:00', freq='MS'),
 Timestamp('2000-05-01 00:00:00', freq='MS')]

In [64]:
# BUSSINESS calendar beginning of month
list(pd.date_range('2000-01-01', periods=5, freq='BMS'))

[Timestamp('2000-01-03 00:00:00', freq='BMS'),
 Timestamp('2000-02-01 00:00:00', freq='BMS'),
 Timestamp('2000-03-01 00:00:00', freq='BMS'),
 Timestamp('2000-04-03 00:00:00', freq='BMS'),
 Timestamp('2000-05-01 00:00:00', freq='BMS')]

In [55]:
# calendar week starting on Sunday
list(pd.date_range('2017-08-01', periods=5, freq='W'))

[Timestamp('2017-08-06 00:00:00', freq='W-SUN'),
 Timestamp('2017-08-13 00:00:00', freq='W-SUN'),
 Timestamp('2017-08-20 00:00:00', freq='W-SUN'),
 Timestamp('2017-08-27 00:00:00', freq='W-SUN'),
 Timestamp('2017-09-03 00:00:00', freq='W-SUN')]

In [56]:
# weely on monday
list(pd.date_range('2017-08-01', periods=5, freq='W-MON'))

[Timestamp('2017-08-07 00:00:00', freq='W-MON'),
 Timestamp('2017-08-14 00:00:00', freq='W-MON'),
 Timestamp('2017-08-21 00:00:00', freq='W-MON'),
 Timestamp('2017-08-28 00:00:00', freq='W-MON'),
 Timestamp('2017-09-04 00:00:00', freq='W-MON')]

In [57]:
# quarterly 
list(pd.date_range('2017-08-01', periods=5, freq='Q-OCT'))

[Timestamp('2017-10-31 00:00:00', freq='Q-OCT'),
 Timestamp('2018-01-31 00:00:00', freq='Q-OCT'),
 Timestamp('2018-04-30 00:00:00', freq='Q-OCT'),
 Timestamp('2018-07-31 00:00:00', freq='Q-OCT'),
 Timestamp('2018-10-31 00:00:00', freq='Q-OCT')]

In [58]:
# annuly starting end of year
list(pd.date_range('2017-08-01', periods=5, freq='A'))

[Timestamp('2017-12-31 00:00:00', freq='A-DEC'),
 Timestamp('2018-12-31 00:00:00', freq='A-DEC'),
 Timestamp('2019-12-31 00:00:00', freq='A-DEC'),
 Timestamp('2020-12-31 00:00:00', freq='A-DEC'),
 Timestamp('2021-12-31 00:00:00', freq='A-DEC')]

In [59]:
# annuly starting end of Febary in each year
list(pd.date_range('2017-08-01', periods=5, freq='A-FEB'))

[Timestamp('2018-02-28 00:00:00', freq='A-FEB'),
 Timestamp('2019-02-28 00:00:00', freq='A-FEB'),
 Timestamp('2020-02-29 00:00:00', freq='A-FEB'),
 Timestamp('2021-02-28 00:00:00', freq='A-FEB'),
 Timestamp('2022-02-28 00:00:00', freq='A-FEB')]

In [65]:
# BUSSINESS annuly starting end of Febary in each year
list(pd.date_range('2017-08-01', periods=5, freq='BA-FEB'))

[Timestamp('2018-02-28 00:00:00', freq='BA-FEB'),
 Timestamp('2019-02-28 00:00:00', freq='BA-FEB'),
 Timestamp('2020-02-28 00:00:00', freq='BA-FEB'),
 Timestamp('2021-02-26 00:00:00', freq='BA-FEB'),
 Timestamp('2022-02-28 00:00:00', freq='BA-FEB')]

In [66]:
# The second friday in each month
list(pd.date_range('2000-01-01', periods=5, freq='WOM-2FRI'))

[Timestamp('2000-01-14 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-02-11 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-03-10 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-04-14 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-05-12 00:00:00', freq='WOM-2FRI')]