In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# Generate series of times

In [50]:
# specify with start date & number of periods
rng = pd.date_range('2016 Jul 15 10:15', periods = 10, freq = 'M')
rng

DatetimeIndex(['2016-07-31 10:15:00', '2016-08-31 10:15:00',
               '2016-09-30 10:15:00', '2016-10-31 10:15:00',
               '2016-11-30 10:15:00', '2016-12-31 10:15:00',
               '2017-01-31 10:15:00', '2017-02-28 10:15:00',
               '2017-03-31 10:15:00', '2017-04-30 10:15:00'],
              dtype='datetime64[ns]', freq='M')

In [4]:
rng = pd.date_range('2016/Jul/15', periods = 10, freq = 'M')
rng

DatetimeIndex(['2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31',
               '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28',
               '2017-03-31', '2017-04-30'],
              dtype='datetime64[ns]', freq='M')

In [5]:
rng = pd.date_range('2016-Jul-15', periods = 10, freq = 'M')
rng

DatetimeIndex(['2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31',
               '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28',
               '2017-03-31', '2017-04-30'],
              dtype='datetime64[ns]', freq='M')

In [6]:
rng = pd.date_range('2016-Jul-15', periods = 10, freq = 'MS')
rng

DatetimeIndex(['2016-08-01', '2016-09-01', '2016-10-01', '2016-11-01',
               '2016-12-01', '2017-01-01', '2017-02-01', '2017-03-01',
               '2017-04-01', '2017-05-01'],
              dtype='datetime64[ns]', freq='MS')

### let's explore some of the other options for date_range
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.date_range.html

In particular, let's take a look at 'normalize' and 'end'

In [ ]:
rng = pd.date_range('2016 Jul 15', periods = 10, freq = 'M')
rng

### Which of these formats DON'T work?
'2016 Jul 1', '7/1/2016', '1/7/2016', 'July 1, 2016', '2016-07-01'


#### You'll want to try this with pd.to_datetime

In [ ]:
# You may encounter the need to deal with European style formatted dates. 
# In that case, you'll want to use pd.to_datetime

In [ ]:
# See the behavior with the following examples. Do you see the pattern?

In [7]:
pd.to_datetime('01/07/2016', dayfirst = True) == pd.to_datetime('01/07/2016', dayfirst = False)

False

In [8]:
pd.to_datetime('01/07/2016', dayfirst = True)

Timestamp('2016-07-01 00:00:00')

In [28]:
datetime.strptime('01-Jul-16','%d-%b-%y')

datetime.datetime(2016, 7, 1, 0, 0)

In [29]:
pd.to_datetime('01-07-2016', dayfirst = True) == pd.to_datetime('01-07-2016', dayfirst = False)

False

In [30]:
pd.to_datetime('2016-01-07', dayfirst = True) == pd.to_datetime('2016-01-07', dayfirst = False)

True

# Timestamps

In [ ]:
# add increasing detail
pd.Timestamp('2016-07-10')

In [ ]:
pd.Timestamp('2016-07-10 10:15:15')

### How much detail can you add?

### What are some properties of time stamps? 
Hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components

In [31]:
t = pd.Timestamp('2016-07-10 10:15:15')

In [32]:
t.quarter

3

In [34]:
t.weekday_name

'Sunday'

In [35]:
t.dayofweek

6

In [36]:
t.weekofyear

27

In [ ]:
t = pd.Timestamp('2016-07-10 8 pm')
t

### How are time stamps lacking?

# Time offsets

In [37]:
pd.Timedelta('1 day 1us')

Timedelta('1 days 00:00:00.000001')

In [43]:
pd.Timedelta('2 M 1 day 1us')

Timedelta('1 days 00:02:00.000001')

In [47]:
pd.Timestamp('2016-07-01 8:00') + pd.Timedelta('1.5 hours')

Timestamp('2016-07-01 09:30:00')

In [45]:
pd.Timedelta('15ns') #bug? what kind of bug?

Timedelta('0 days 00:00:00.000000')

In [51]:
rng

DatetimeIndex(['2016-07-31 10:15:00', '2016-08-31 10:15:00',
               '2016-09-30 10:15:00', '2016-10-31 10:15:00',
               '2016-11-30 10:15:00', '2016-12-31 10:15:00',
               '2017-01-31 10:15:00', '2017-02-28 10:15:00',
               '2017-03-31 10:15:00', '2017-04-30 10:15:00'],
              dtype='datetime64[ns]', freq='M')

In [52]:
rng + pd.Timedelta('1day')

DatetimeIndex(['2016-08-01 10:15:00', '2016-09-01 10:15:00',
               '2016-10-01 10:15:00', '2016-11-01 10:15:00',
               '2016-12-01 10:15:00', '2017-01-01 10:15:00',
               '2017-02-01 10:15:00', '2017-03-01 10:15:00',
               '2017-04-01 10:15:00', '2017-05-01 10:15:00'],
              dtype='datetime64[ns]', freq='MS')

# Time spans

In [14]:
p = pd.Period('7/21/2016', 'M')
p.start_time

Timestamp('2016-07-01 00:00:00')

In [56]:
t = pd.Timestamp('7/21/2016')
t

Timestamp('2016-07-21 00:00:00')

In [57]:
p.start_time < t and p.end_time > t

True

In [61]:
rng = pd.period_range('2016-01-01 12:15', freq = 'H', periods = 10)
rng

PeriodIndex(['2016-01-01 12:00', '2016-01-01 13:00', '2016-01-01 14:00',
             '2016-01-01 15:00', '2016-01-01 16:00', '2016-01-01 17:00',
             '2016-01-01 18:00', '2016-01-01 19:00', '2016-01-01 20:00',
             '2016-01-01 21:00'],
            dtype='period[H]', freq='H')

In [63]:
rng[0].start_time

Timestamp('2016-01-01 12:00:00')

In [ ]:
rng = pd.period_range('2016-01-01 12:15', freq = '60T', periods = 10)
rng

In [ ]:
rng = pd.period_range('2016-01-01 12:15', freq = '1H', periods = 10)
rng

### How can you determine whether a timestamp falls within a given period?

In [11]:
# %load snippets/startend.py
tp= pd.Timestamp('2017-8-15')
p= pd.Period('2017-8',freq = 'M')
tp>=p.start_time and tp<=p.end_time

True

### Try out some other functionality with different offset-aliases. Anything interesting?

### How can you make a pandas Time Series with these aliases?

In [17]:
num_periods = 40
ts_pd = pd.Series(range(num_periods),index =  pd.period_range('2016-07-01 11:15', freq = '60T', periods = num_periods))

In [18]:
ts_pd.head()

2016-07-01 11:15    0
2016-07-01 12:15    1
2016-07-01 13:15    2
2016-07-01 14:15    3
2016-07-01 15:15    4
Freq: 60T, dtype: int64

In [19]:
ts_pd['2016-7-1 11':'2016-7-1 13']

2016-07-01 11:15    0
2016-07-01 12:15    1
2016-07-01 13:15    2
Freq: 60T, dtype: int64

### How can we index a time series with a date_range?

In [20]:
num_periods = 40
ts_dt = pd.Series(range(num_periods), pd.date_range('2016-07-01 11:15', freq = '60T', periods = num_periods))

### What are the use cases for a series with a DateTimeIndex vs a PeriodIndex? Where will we see a difference?

In [21]:
ts_dt['2016-7-1 11']

2016-07-01 11:15:00    0
Freq: 60T, dtype: int64

### How can we convert between a DateTimeIndex and a PeriodIndex?

In [24]:
ts_dt.to_period(freq= '60T').head()
# ts_pd.to_timestamp()

2016-07-01 11:15    0
2016-07-01 12:15    1
2016-07-01 13:15    2
2016-07-01 14:15    3
2016-07-01 15:15    4
Freq: 60T, dtype: int64

In [25]:
ts_dt.head()

2016-07-01 11:15:00    0
2016-07-01 12:15:00    1
2016-07-01 13:15:00    2
2016-07-01 14:15:00    3
2016-07-01 15:15:00    4
Freq: 60T, dtype: int64

### grap everything on July 1 and July 2

In [26]:
ts_pd.loc['2016-07-01':'2016-07-02']

2016-07-01 11:15     0
2016-07-01 12:15     1
2016-07-01 13:15     2
2016-07-01 14:15     3
2016-07-01 15:15     4
2016-07-01 16:15     5
2016-07-01 17:15     6
2016-07-01 18:15     7
2016-07-01 19:15     8
2016-07-01 20:15     9
2016-07-01 21:15    10
2016-07-01 22:15    11
2016-07-01 23:15    12
2016-07-02 00:15    13
2016-07-02 01:15    14
2016-07-02 02:15    15
2016-07-02 03:15    16
2016-07-02 04:15    17
2016-07-02 05:15    18
2016-07-02 06:15    19
2016-07-02 07:15    20
2016-07-02 08:15    21
2016-07-02 09:15    22
2016-07-02 10:15    23
2016-07-02 11:15    24
2016-07-02 12:15    25
2016-07-02 13:15    26
2016-07-02 14:15    27
2016-07-02 15:15    28
2016-07-02 16:15    29
2016-07-02 17:15    30
2016-07-02 18:15    31
2016-07-02 19:15    32
2016-07-02 20:15    33
2016-07-02 21:15    34
2016-07-02 22:15    35
2016-07-02 23:15    36
Freq: 60T, dtype: int64

In [27]:
ts_pd['2016-07-01':'2016-07-02']

2016-07-01 11:15     0
2016-07-01 12:15     1
2016-07-01 13:15     2
2016-07-01 14:15     3
2016-07-01 15:15     4
2016-07-01 16:15     5
2016-07-01 17:15     6
2016-07-01 18:15     7
2016-07-01 19:15     8
2016-07-01 20:15     9
2016-07-01 21:15    10
2016-07-01 22:15    11
2016-07-01 23:15    12
2016-07-02 00:15    13
2016-07-02 01:15    14
2016-07-02 02:15    15
2016-07-02 03:15    16
2016-07-02 04:15    17
2016-07-02 05:15    18
2016-07-02 06:15    19
2016-07-02 07:15    20
2016-07-02 08:15    21
2016-07-02 09:15    22
2016-07-02 10:15    23
2016-07-02 11:15    24
2016-07-02 12:15    25
2016-07-02 13:15    26
2016-07-02 14:15    27
2016-07-02 15:15    28
2016-07-02 16:15    29
2016-07-02 17:15    30
2016-07-02 18:15    31
2016-07-02 19:15    32
2016-07-02 20:15    33
2016-07-02 21:15    34
2016-07-02 22:15    35
2016-07-02 23:15    36
Freq: 60T, dtype: int64

# Try

(1) How can you create a pd.Timestamp with a European style formatted date string? hint: dayfirst flag

(2) How can you generate string representation in a desired format from a pd.Timestamp?

In [29]:
#2017 July 4
pd.to_datetime('04-07-2017',dayfirst =True).strftime(format = '%y-%m-%d')

'17-07-04'

In [ ]:
# %load snippets/try1.py