In [7]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
pd.set_printoptions(notebook_repr_html=False)

In [14]:
index = ['a', 'b', 'c', 'd', 'e']

s = Series(np.arange(5), index=index)
s.index

Index([a, b, c, d, e], dtype=object)

In [26]:
dates = pd.date_range('2012-07-16', '2012-07-21')
atemps = Series([101.5, 98, 95, 99, 100, 92], index=dates)
atemps

2012-07-16    101.5
2012-07-17     98.0
2012-07-18     95.0
2012-07-19     99.0
2012-07-20    100.0
2012-07-21     92.0
Freq: D

In [32]:
idx = atemps.index[2]

In [33]:
sdtemps = Series([73, 78, 77, 78, 78, 77], index=dates)
temps = DataFrame({'Austin' : atemps, 'San Diego': sdtemps})
temps

            Austin  San Diego
2012-07-16   101.5         73
2012-07-17    98.0         78
2012-07-18    95.0         77
2012-07-19    99.0         78
2012-07-20   100.0         78
2012-07-21    92.0         77

In [40]:
temps['Diff'] = temps['Austin'] - temps['San Diego']
temps

            Austin  San Diego  Diff
2012-07-16   101.5         73  28.5
2012-07-17    98.0         78  20.0
2012-07-18    95.0         77  18.0
2012-07-19    99.0         78  21.0
2012-07-20   100.0         78  22.0
2012-07-21    92.0         77  15.0

In [41]:
del temps['Diff']
temps

            Austin  San Diego
2012-07-16   101.5         73
2012-07-17    98.0         78
2012-07-18    95.0         77
2012-07-19    99.0         78
2012-07-20   100.0         78
2012-07-21    92.0         77

In [47]:
s[['b', 'd', 'e']]

b    1
d    3
e    4

In [111]:
atemps = temps.Austin
sdtemps = temps['San Diego'].drop(temps.index[3])
atemps

2012-07-16    101.5
2012-07-17     98.0
2012-07-18     95.0
2012-07-19     99.0
2012-07-20    100.0
2012-07-21     92.0
Freq: D, Name: Austin

In [115]:
temps - temps[:-1]

            Austin  San Diego
2012-07-16       0          0
2012-07-17       0          0
2012-07-18       0          0
2012-07-19       0          0
2012-07-20       0          0
2012-07-21     NaN        NaN

In [118]:
diff = atemps - sdtemps
diff.fillna(0)

2012-07-16    28.5
2012-07-17    20.0
2012-07-18    18.0
2012-07-19     0.0
2012-07-20    22.0
2012-07-21    15.0

In [51]:
temps

            Austin  San Diego
2012-07-16   101.5         73
2012-07-17    98.0         78
2012-07-18    95.0         77
2012-07-19    99.0         78
2012-07-20   100.0         78
2012-07-21    92.0         77

In [56]:
idx = temps.index[2]
temps.ix[[1, 0, 2], ['San Diego', 'Austin']]

            San Diego  Austin
2012-07-17         78    98.0
2012-07-16         73   101.5
2012-07-18         77    95.0

In [62]:
randn(5, 5).mean(1)

array([-0.38345275, -0.55147815, -0.14621328,  0.15497259, -0.07635258])

In [64]:
temps - temps.mean()

              Austin  San Diego
2012-07-16  3.916667  -3.833333
2012-07-17  0.416667   1.166667
2012-07-18 -2.583333   0.166667
2012-07-19  1.416667   1.166667
2012-07-20  2.416667   1.166667
2012-07-21 -5.583333   0.166667

In [67]:
temps[temps.Austin > 100]

            Austin  San Diego
2012-07-16   101.5         73

In [69]:
!cat data/test1.csv

date,0,1,2,3
2000-01-01 00:00:00,1.10376250134,-1.90997889703,-0.808955536115,-2.39262906719
2000-01-02 00:00:00,1.18891664768,0.581119740849,0.86159734949,-0.213885346486
2000-01-03 00:00:00,-0.964200042412,0.779764393246,1.82906224532,0.322422339415
2000-01-04 00:00:00,0.782130444001,-1.72066965573,-1.10824167327,1.23348925791
2000-01-05 00:00:00,-1.86701699823,-0.528368292754,-2.48830894087,1.48034194215
2000-01-06 00:00:00,2.56928022646,-0.471901478927,-0.835033249865,-0.532132652067
2000-01-07 00:00:00,-0.39932258251,-0.676426550985,-0.0112559158931,0.223251821044
2000-01-08 00:00:00,1.64299299394,1.01341997845,1.43566709724,-0.635861850721
2000-01-09 00:00:00,1.14730764657,2.13799951538,0.554171306191,-0.25553826194
2000-01-10 00:00:00,0.933765825769,1.38715526486,-0.560142729978,-0.787082814998

In [73]:
df = pd.read_csv('data/test1.csv')
df.date[0]

'2000-01-01 00:00:00'

In [81]:
df2 = pd.read_csv('data/test1.csv', parse_dates=['date'], index_col='date')
df2

                   0         1         2         3
date
2000-01-01  1.103763 -1.909979 -0.808956 -2.392629
2000-01-02  1.188917  0.581120  0.861597 -0.213885
2000-01-03 -0.964200  0.779764  1.829062  0.322422
2000-01-04  0.782130 -1.720670 -1.108242  1.233489
2000-01-05 -1.867017 -0.528368 -2.488309  1.480342
2000-01-06  2.569280 -0.471901 -0.835033 -0.532133
2000-01-07 -0.399323 -0.676427 -0.011256  0.223252
2000-01-08  1.642993  1.013420  1.435667 -0.635862
2000-01-09  1.147308  2.138000  0.554171 -0.255538
2000-01-10  0.933766  1.387155 -0.560143 -0.787083

In [85]:
df2

                   0         1         2         3
date
2000-01-01  1.103763 -1.909979 -0.808956 -2.392629
2000-01-02  1.188917  0.581120  0.861597 -0.213885
2000-01-03 -0.964200  0.779764  1.829062  0.322422
2000-01-04  0.782130 -1.720670 -1.108242  1.233489
2000-01-05 -1.867017 -0.528368 -2.488309  1.480342
2000-01-06  2.569280 -0.471901 -0.835033 -0.532133
2000-01-07 -0.399323 -0.676427 -0.011256  0.223252
2000-01-08  1.642993  1.013420  1.435667 -0.635862
2000-01-09  1.147308  2.138000  0.554171 -0.255538
2000-01-10  0.933766  1.387155 -0.560143 -0.787083

In [92]:
df2 = pd.read_csv('data/test1.csv', parse_dates=['date'])
df3 = df2.set_index('date', drop=False)
df3

date
2000-01-01    2000-01-01 00:00:00
2000-01-02    2000-01-02 00:00:00
2000-01-03    2000-01-03 00:00:00
2000-01-04    2000-01-04 00:00:00
2000-01-05    2000-01-05 00:00:00
2000-01-06    2000-01-06 00:00:00
2000-01-07    2000-01-07 00:00:00
2000-01-08    2000-01-08 00:00:00
2000-01-09    2000-01-09 00:00:00
2000-01-10    2000-01-10 00:00:00
Name: date

In [102]:
pd.read_csv('data/test2.csv', parse_dates=[['time', 'date']])

             time_date         0         1         2         3
0  2000-01-01 00:00:00  1.103763 -1.909979 -0.808956 -2.392629
1  2000-01-02 00:00:00  1.188917  0.581120  0.861597 -0.213885
2  2000-01-03 00:00:00 -0.964200  0.779764  1.829062  0.322422
3  2000-01-04 00:00:00  0.782130 -1.720670 -1.108242  1.233489
4  2000-01-05 00:00:00 -1.867017 -0.528368 -2.488309  1.480342
5  2000-01-06 00:00:00  2.569280 -0.471901 -0.835033 -0.532133
6  2000-01-07 00:00:00 -0.399323 -0.676427 -0.011256  0.223252
7  2000-01-08 00:00:00  1.642993  1.013420  1.435667 -0.635862
8  2000-01-09 00:00:00  1.147308  2.138000  0.554171 -0.255538
9  2000-01-10 00:00:00  0.933766  1.387155 -0.560143 -0.787083

In [103]:
pd.read_csv?