In [1]:
import numpy as np
from numpy.random import  randn
from pandas import Series, DataFrame
import pandas as pd
from datetime import datetime
import matplotlib.pylab as plt
%matplotlib inline

## Time Zone
- Localization
- Conversion
- Data alignment

In [3]:
stamp = pd.Timestamp('now')
stamp

Timestamp('2017-08-14 09:59:18.448320')

In [22]:
stamp_naive = pd.Timestamp('2017-08-14 10:00')
stamp_naive

Timestamp('2017-08-14 10:00:00')

In [35]:
#### add a naive time stamp with time zone
stamp2 =stamp_naive.tz_localize('Asia/Shanghai')
stamp2

Timestamp('2017-08-14 10:00:00+0800', tz='Asia/Shanghai')

In [20]:
# show the utc time :Coordinated Universal Time
stamp2.value

1502676000000000000

In [36]:
#convert a time stamp into another time zone
stamp3 =stamp2.tz_convert('US/Central')
stamp3

Timestamp('2017-08-13 21:00:00-0500', tz='US/Central')

In [28]:
# we can do boolen comparison with utc value
stamp2 == stamp3

True

In [23]:
#create a time stamp with a time zone
stamp = pd.Timestamp('2017-08-14 10:00',tz = 'US/Central')
stamp

Timestamp('2017-08-14 10:00:00-0500', tz='US/Central')

In [24]:
stamp.tz

In [33]:
rng = pd.date_range('2017-08-14 10:00',periods= 20)
ts =Series(range(20),index = rng)
ts

2017-08-14 10:00:00     0
2017-08-15 10:00:00     1
2017-08-16 10:00:00     2
2017-08-17 10:00:00     3
2017-08-18 10:00:00     4
2017-08-19 10:00:00     5
2017-08-20 10:00:00     6
2017-08-21 10:00:00     7
2017-08-22 10:00:00     8
2017-08-23 10:00:00     9
2017-08-24 10:00:00    10
2017-08-25 10:00:00    11
2017-08-26 10:00:00    12
2017-08-27 10:00:00    13
2017-08-28 10:00:00    14
2017-08-29 10:00:00    15
2017-08-30 10:00:00    16
2017-08-31 10:00:00    17
2017-09-01 10:00:00    18
2017-09-02 10:00:00    19
Freq: D, dtype: int32

In [34]:
ts.tz_localize('Asia/Shanghai')

2017-08-14 10:00:00+08:00     0
2017-08-15 10:00:00+08:00     1
2017-08-16 10:00:00+08:00     2
2017-08-17 10:00:00+08:00     3
2017-08-18 10:00:00+08:00     4
2017-08-19 10:00:00+08:00     5
2017-08-20 10:00:00+08:00     6
2017-08-21 10:00:00+08:00     7
2017-08-22 10:00:00+08:00     8
2017-08-23 10:00:00+08:00     9
2017-08-24 10:00:00+08:00    10
2017-08-25 10:00:00+08:00    11
2017-08-26 10:00:00+08:00    12
2017-08-27 10:00:00+08:00    13
2017-08-28 10:00:00+08:00    14
2017-08-29 10:00:00+08:00    15
2017-08-30 10:00:00+08:00    16
2017-08-31 10:00:00+08:00    17
2017-09-01 10:00:00+08:00    18
2017-09-02 10:00:00+08:00    19
Freq: D, dtype: int32

In [37]:
ts.tz_localize('utc')

2017-08-14 10:00:00+00:00     0
2017-08-15 10:00:00+00:00     1
2017-08-16 10:00:00+00:00     2
2017-08-17 10:00:00+00:00     3
2017-08-18 10:00:00+00:00     4
2017-08-19 10:00:00+00:00     5
2017-08-20 10:00:00+00:00     6
2017-08-21 10:00:00+00:00     7
2017-08-22 10:00:00+00:00     8
2017-08-23 10:00:00+00:00     9
2017-08-24 10:00:00+00:00    10
2017-08-25 10:00:00+00:00    11
2017-08-26 10:00:00+00:00    12
2017-08-27 10:00:00+00:00    13
2017-08-28 10:00:00+00:00    14
2017-08-29 10:00:00+00:00    15
2017-08-30 10:00:00+00:00    16
2017-08-31 10:00:00+00:00    17
2017-09-01 10:00:00+00:00    18
2017-09-02 10:00:00+00:00    19
Freq: D, dtype: int32

In [39]:
ts.tz_localize('Asia/Shanghai').tz_convert('US/Central')

2017-08-13 21:00:00-05:00     0
2017-08-14 21:00:00-05:00     1
2017-08-15 21:00:00-05:00     2
2017-08-16 21:00:00-05:00     3
2017-08-17 21:00:00-05:00     4
2017-08-18 21:00:00-05:00     5
2017-08-19 21:00:00-05:00     6
2017-08-20 21:00:00-05:00     7
2017-08-21 21:00:00-05:00     8
2017-08-22 21:00:00-05:00     9
2017-08-23 21:00:00-05:00    10
2017-08-24 21:00:00-05:00    11
2017-08-25 21:00:00-05:00    12
2017-08-26 21:00:00-05:00    13
2017-08-27 21:00:00-05:00    14
2017-08-28 21:00:00-05:00    15
2017-08-29 21:00:00-05:00    16
2017-08-30 21:00:00-05:00    17
2017-08-31 21:00:00-05:00    18
2017-09-01 21:00:00-05:00    19
Freq: D, dtype: int32