In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from datetime import datetime
# pd.set_printoptions(notebook_repr_html=False)

In [6]:
stamp = pd.Timestamp('17/7/2012 10:06:45')
stamp

Timestamp('2012-07-17 10:06:45')

In [7]:
stamp.year

2012

In [9]:
stamp.strftime('%m%d%y')

'071712'

In [10]:
pd.Timestamp(pd.to_datetime('17/7/2012 10:06:45', dayfirst=False))

Timestamp('2012-07-17 10:06:45')

In [11]:
stamp = pd.Timestamp('7/17/2012 10:06:45')
stamp.value

1342519605000000000L

In [12]:
dates = ['07/07/2012', '07/09/2012', '07/12/2012']
dates

['07/07/2012', '07/09/2012', '07/12/2012']

In [25]:
list(pd.to_datetime(dates, dayfirst=True))

[<Timestamp: 2012-07-07 00:00:00>,
 <Timestamp: 2012-09-07 00:00:00>,
 <Timestamp: 2012-12-07 00:00:00>]

In [28]:
ts = Series(range(3), index=pd.to_datetime(dates))
ts.index[0]

In [29]:
isinstance(ts.index[0], datetime)

True

Indexing
--------

In [32]:
rng = pd.date_range('2012-07-17', periods=1000)
ts = Series(np.arange(1000), index=rng)
ts

2012-07-17     0
2012-07-18     1
2012-07-19     2
2012-07-20     3
2012-07-21     4
2012-07-22     5
2012-07-23     6
2012-07-24     7
2012-07-25     8
2012-07-26     9
2012-07-27    10
2012-07-28    11
2012-07-29    12
2012-07-30    13
2012-07-31    14
...
2015-03-29    985
2015-03-30    986
2015-03-31    987
2015-04-01    988
2015-04-02    989
2015-04-03    990
2015-04-04    991
2015-04-05    992
2015-04-06    993
2015-04-07    994
2015-04-08    995
2015-04-09    996
2015-04-10    997
2015-04-11    998
2015-04-12    999
Freq: D, Length: 1000

In [41]:
ts[:5]

2012-07-17    0
2012-07-18    1
2012-07-19    2
2012-07-20    3
2012-07-21    4
Freq: D

In [47]:
ts2 = ts.take(np.random.permutation(len(ts)))
ts2

2012-07-17     0
2012-07-18     1
2012-07-19     2
2012-07-20     3
2012-07-21     4
2012-07-22     5
2012-07-23     6
2012-07-24     7
2012-07-25     8
2012-07-26     9
2012-07-27    10
2012-07-28    11
2012-07-29    12
2012-07-30    13
2012-07-31    14
...
2015-03-29    985
2015-03-30    986
2015-03-31    987
2015-04-01    988
2015-04-02    989
2015-04-03    990
2015-04-04    991
2015-04-05    992
2015-04-06    993
2015-04-07    994
2015-04-08    995
2015-04-09    996
2015-04-10    997
2015-04-11    998
2015-04-12    999
Length: 1000

In [53]:
ts['2012-09':'2013']

2012-09-01    46
2012-09-02    47
2012-09-03    48
2012-09-04    49
2012-09-05    50
2012-09-06    51
2012-09-07    52
2012-09-08    53
2012-09-09    54
2012-09-10    55
2012-09-11    56
2012-09-12    57
2012-09-13    58
2012-09-14    59
2012-09-15    60
...
2013-12-17    518
2013-12-18    519
2013-12-19    520
2013-12-20    521
2013-12-21    522
2013-12-22    523
2013-12-23    524
2013-12-24    525
2013-12-25    526
2013-12-26    527
2013-12-27    528
2013-12-28    529
2013-12-29    530
2013-12-30    531
2013-12-31    532
Freq: D, Length: 487

In [56]:
df = DataFrame(np.arange(4000).reshape((1000, 4)), 
          index=rng, columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [63]:
df.ix['2012-07-20']

Colorado    12
Texas       13
New York    14
Ohio        15
Name: 2012-07-20

In [65]:
from datetime import timedelta

In [68]:
start = datetime(2012, 12, 31)
start + pd.offsets.Day(11)

datetime.datetime(2013, 1, 11, 0, 0)

In [84]:
list(pd.date_range('2000-01-01', periods=5, freq='WOM-2FRI'))

[<Timestamp: 2000-01-14 00:00:00>,
 <Timestamp: 2000-02-11 00:00:00>,
 <Timestamp: 2000-03-10 00:00:00>,
 <Timestamp: 2000-04-14 00:00:00>,
 <Timestamp: 2000-05-12 00:00:00>]